/* @font-face {
    font-family: 'Saira Extra Condensed';
    font-weight: 700;
    font-display: swap;
    font-style: bold;
    src: url(./static/fonts/SairaExtraCondensed-Bold.ttf) format("tiff");
  } */